<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <!-- HEADER -->
  <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">store</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span [routerLink]="['/manage-branch/']" class="secondary-text breat_link">Manage Branch</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">View Branch</span>
      </div>
      <div class="h1 mt-16">View Branch</div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24 ">
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <!-- REACTIVE FORM EXAMPLE -->
      <div class="customer_info">
        <div class="cus_col">
          <div class="custmer_info">
            <h2>Branch Info </h2>
            <div class="cus_info_cont">
              <ul>
                <li>
                  <p>Branch Code :</p> <span>{{branch_code}}</span>
                </li>
                <li>
                  <P>Branch Name :</P> <span>{{branch_name}}</span>
                </li>
                <li>
                  <P>Branch Description :</P> <span>{{branch_description}}</span>
                </li>
                <li>
                  <P>Mobile :</P> <span>{{branch_phone}}</span>
                </li>
                <li>
                  <P>Email :</P> <span>{{branch_email}}</span>
                </li>
                <li>
                  <P>Zipcode :</P> <span>{{zipcode}}</span>
                </li>
                <li class="address">
                  <P>Location :</P> <span>{{branch_address}}</span>
                </li>
                
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- / REACTIVE FORM EXAMPLE -->
  </div>
</div>