<div id="orders" class="page-layout carded fullwidth inner-scroll manage-orders">


    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->



        <div id="welcome_dash">
            <h4>Hi <span class="name">{{profileName}}</span>, Welcome back!</h4>
            <p>Very detailed & featured admin.</p>
        </div>
        <div class="content-card">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col">
                        <div class="dash-box">
                            <div class="icon">
                                <span class=" material-icons">store_mall_directory</span>
                            </div>
                            <div class="box_content">
                                <h6>Total Branch</h6>
                                <h4>{{branch_Count}}</h4>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col">
                        <div class="dash-box">
                            <div class="icon">
                                <span class=" material-icons">reorder</span>
                            </div>
                            <div class="box_content">
                                <h6>Total Orders</h6>
                                <h4>{{order_Count}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>