table.mat-table.cdk-table {
    width: 100%;
}
.customer_info {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.cus_info_cont ul li {
    display: flex;
    align-items: center;
    width: 50%;
    float: left;
    margin-bottom: 14px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f9f9f9;
}

.cus_info_cont ul li p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    width: 30%;
    margin: 0;
}
.cus_info_cont ul li span {
    margin-left: 20px;
    width: 78% !important;
}
.cus_info_cont ul li {
    font-size: 18px !important;
}
.cus_info_cont ul:after {
    content: " ";
    clear: both;
    display: block;
}
.cus_info_cont ul {
    margin: 40px 0 60px 0;
}
span.deliverd {
    background: #09d261;
}
span.waiting {
    background: #ff6f00;
}
span.canceled {
    background: #e74133;
}
span.status_icon {
    color: #ffffff;
    padding: 3px 10px;
    border-radius: 20px;
    text-transform: capitalize;
}
.breat_link {
    cursor: pointer;
}
.removeshadow {
    box-shadow: none !important;
    overflow-x: scroll;
}
@media only screen and (max-width: 767px) {
    .cus_info_cont ul li {
        width: 100%;
    }
    .cus_info_cont {
        margin: 40px 0;
    }
    .cus_info_cont ul {
        padding: 0;
    }

    .removeshadow::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .removeshadow::-webkit-scrollbar-thumb {
        background-color: #818b99;
        border: 2px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }
    th.mat-header-cell {
        text-align: center;
    }
    th.mat-header-cell.cdk-column-id {
        text-align: left;
    }

    td {
        padding: 5px 20px !important;
    }
}
