<div id="orders" class="page-layout carded fullwidth inner-scroll manage-customers">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" style="display: flex;place-content: center space-between;align-items: center;"
      fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <!-- APP TITLE -->
      <div class="logo mb-24 mb-sm-0" style="display: flex;" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          subject
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Manage Commission</span>
      </div>
      <!-- / APP TITLE -->
      <!-- SEARCH -->
      <div class="search-wrapper  ml-sm-32">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center"
          style="flex-direction: row;box-sizing: border-box;display: flex;place-content: center flex-start;align-items: center;flex: 1 1 0%;">
          <mat-icon>search</mat-icon>
          <input #filter (keyup)="searchUser($event.target.value)" placeholder="Search">
        </div>
      </div>
      <button mat-raised-button [routerLink]="['/manage-commission/commission','add']">Add Commission</button>
      <!-- / SEARCH -->
    </div>
    <!-- / HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card">
      <div class="mat-elevation-z8 removeshadow">
        <table mat-table matSort [dataSource]="CustTable">
          <ng-container matColumnDef="commissiongroupcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Commission Group Code</th>
            <td mat-cell *matCellDef="let commission"> {{commission.commission_code}} </td>
          </ng-container>
          <ng-container matColumnDef="commissiongroupname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Commission Group Name</th>
            <td mat-cell *matCellDef="let commission"> {{commission.commission_name}} </td>
          </ng-container>
          <ng-container matColumnDef="commissiondesc">
            <th mat-header-cell *matHeaderCellDef> Commission Description</th>
            <td mat-cell *matCellDef="let commission"> {{commission.commission_desc}} </td>
          </ng-container>
          <ng-container matColumnDef="commissionper">
            <th mat-header-cell *matHeaderCellDef> Commission Percentage</th>
            <td mat-cell *matCellDef="let commission"> {{commission.percentage}}  %</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let commission">
              <a class="view_icon" [routerLink]="['/manage-commission/commission','edit',commission.commission_code]">
                <mat-icon matTooltip="Edit commission" class="action-icons">edit</mat-icon>
              </a>
              
              <mat-icon matTooltip="Delete commission" class="action-icons" style="cursor: pointer;"
                (click)="deleterCommission( commission.commission_code, commission.name)">delete
              </mat-icon>
              <a class="view_icon" [routerLink]="['/manage-commission/view-commission',commission.commission_code]">
                <mat-icon matTooltip="View commission" class="action-icons">visibility</mat-icon>
              </a>
             
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

    
   
  </div>
 
</div>
