.mat-dialog-container
#mat-dialog-0 {
    width: 500px;
    text-align: center;
}
.mat-dialog-actions {
    text-align: center;
    display: block;
}
.confrom-btn {
    background: #039be5 !important;
    color: #fff !important;
}
.delete_popup h1 {margin: 0;}
.delete_popup {text-align: center;}

