// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
}
.modal-content {
    margin: 6vw 17vw !important;
    padding: 28px;
}
//   .modal {
//      z-index: 99999999;
//   }

.modal .addon-wraapper {
    // height: 90vh;
    overflow-y: hidden;
}
.order_cls {
    font-size: 20px;
    margin-bottom: 0% !important;
    margin-top: -21px;
}
.order_data {
    text-align: center;
    background-color: #ffffff;
}

.modal-header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 9;
    padding: 0% !important;
}
.modal {
    z-index: 999999999 !important;
    position: fixed;
    top: 0px;
    left: 300px;
    z-index: 1050;
    display: none;
    width: 70%;
    height: 100%;
    overflow: hidden;
    outline: 0px;
}
.close {
    position: absolute;
    top: 0.5vw;
    right: 0;
    cursor: pointer;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.head {
    font-size: 21px;
    font-weight: 700;
    margin-top: 6px;
    text-align: center;
}
.refund_btn {
    background: red;
    color: #fff;
    display: block;
    width: 100%;
    margin-right: 5vw;
    border: 0;
    border-radius: 50px;
    padding: 14px;
    font-size: 18px;
    margin-bottom: 6px;
    margin-left: 0vw;
    cursor: pointer;
}
.incomplete_btn {
    background: #ee7c8f;
    color: #fff;
    display: block;
    width: 100%;
    margin-right: 5vw;
    border: 0;
    border-radius: 50px;
    padding: 14px;
    font-size: 18px;
    margin-bottom: 6px;
    margin-left: 0vw;
}
.modal-content {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
