<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div
        class="header accent p-24 h-160"
        fxLayout="row"
        fxLayoutAlign="start center"
    >
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">store</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span
                    [routerLink]="['/manage-branch/']"
                    class="secondary-text breat_link"
                    >Manage Branch</span
                >
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text" *ngIf="selcectFormOption == 'add'"
                    >Add Branch</span
                >
                <span class="secondary-text" *ngIf="selcectFormOption == 'edit'"
                    >Edit Branch</span
                >
            </div>

            <div class="h1 mt-16" *ngIf="selcectFormOption == 'add'">
                Add Branch
            </div>
            <div class="h1 mt-16" *ngIf="selcectFormOption == 'edit'">
                Edit Branch
            </div>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">
        <div
            class="mb-24"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-md="row"
        >
            <form
                id="add_cus_form"
                class="mat-card mat-elevation-z4 p-24 mr-24"
                fxLayout="column"
                fxLayoutAlign="start"
                fxFlex="1 0 auto"
                name="form"
                [formGroup]="form"
            >
                <div
                    class="form_row"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <!-- <mat-form-field appearance="outline" appearance="outline" fxFlex="50" class="pr-4 form_field">
                        <mat-label>Branch Code*</mat-label>
                        <input matInput formControlName="branch_code">
                        <div *ngIf="submitted && f.branch_code.errors" class="invalid-feedback">
                            <div *ngIf="f.branch_code.errors" class="form-err">Branch Code is required</div>
                        </div>
                        
                    </mat-form-field> -->

                    <mat-form-field
                        appearance="outline"
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Branch Name *</mat-label>
                        <input
                            matInput
                            formControlName="branch_name"
                            onKeyPress="if(this.value.length==15) return false;"
                        />
                        <div
                            *ngIf="submitted && f.branch_name.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="f.branch_name.errors" class="form-err">
                                Branch Name is required
                            </div>
                        </div>
                        <!-- <mat-icon matSuffix class="disabled-text">account_circle</mat-icon> -->
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Branch Description </mat-label>
                        <input
                            matInput
                            formControlName="branch_desc"
                            onKeyPress="if(this.value.length==150) return false;"
                        />
                    </mat-form-field>
                </div>
                <div
                    class="form_row"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field
                        appearance="outline"
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Mobile Number*</mat-label>
                        <input
                        style="padding-left: 36px;"
                            (keypress)="numberOnly($event)"
                            matInput
                            formControlName="mobile"
                            onKeyPress="if(this.value.length==15) return false;"
                        />
                        <span matPrefix style="    display: block;
                        margin-top: -20px;
                        position: absolute;">+1&nbsp;</span>
                        <div
                            *ngIf="submitted && f.mobile.errors"
                            class="invalid-feedback"
                        >
                            <div
                                *ngIf="f.mobile.errors.required"
                                class="form-err"
                            >
                                Mobile number is required
                            </div>
                            <div
                                *ngIf="f.mobile.errors.pattern"
                                class="form-err"
                            >
                                Please Enter Valid Mobile Number
                            </div>
                        </div>
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Email Id*</mat-label>
                        <input
                            matInput
                            formControlName="email"
                            onKeyPress="if(this.value.length==50) return false;"
                        />
                        <div
                            *ngIf="submitted && f.email.errors"
                            class="invalid-feedback"
                        >
                            <div
                                *ngIf="f.email.errors.required"
                                class="form-err"
                            >
                                Email address field is required
                            </div>
                            <div *ngIf="f.email.errors.email" class="form-err">
                                Email address must be a valid email address
                            </div>
                        </div>
                        <!-- <mat-icon matSuffix class="disabled-text">email</mat-icon> -->
                    </mat-form-field>
                </div>
                <div
                    class="form_row"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxFlex="1 0 auto"
                >
                    <mat-form-field
                        appearance="outline"
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Location *</mat-label>
                        <input
                            type="text"
                            #search
                            (keydown.enter)="$event.preventDefault()"
                            [(ngModel)]="address"
                            id="searchTextField1"
                            matInput
                            formControlName="address"
                            onKeyPress="if(this.value.length==25) return false;"
                        />

                        <div
                            *ngIf="submitted && f.address.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="f.address.errors" class="form-err">
                                Address field is required
                            </div>
                        </div>
                    </mat-form-field>
                    <mat-form-field
                        appearance="outline"
                        appearance="outline"
                        fxFlex="50"
                        class="pr-4"
                    >
                        <mat-label>Zipcode</mat-label>
                        <input
                            type="text"
                            matInput
                            formControlName="zipcode"
                            onKeyPress="if(this.value.length==8) return false;"
                            (ngModelChange)="omit_special_char($event)"
                        />
                        <div
                            *ngIf="submitted && f.zipcode.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="f.zipcode.errors" class="form-err">
                                Zipcode field is required
                            </div>
                        </div>
                    </mat-form-field>
                </div>

                <div class="example-button-row add_button">
                    <button
                        *ngIf="selcectFormOption == 'add'"
                        mat-raised-button
                        color="primary"
                        (click)="createBranch()"
                    >
                        Add
                    </button>
                    <button
                        *ngIf="selcectFormOption == 'edit'"
                        mat-raised-button
                        color="primary"
                        (click)="updateBranch()"
                    >
                        Update
                    </button>
                    <button mat-raised-button [routerLink]="['/manage-branch']">
                        Cancel
                    </button>
                </div>
            </form>
            <!-- / REACTIVE FORM EXAMPLE -->
        </div>
    </div>
</div>
